//
// Colors
//
$primary: #a6edfc; //Light Blue
$secondary: #b0ffe9; //Light Green
$background: #d7fdff; //Light Light Blue
$accent: #001aff; //Stronk Blue, Listen there are a lot of blues ok?
$black: #171717; //Black
$white: #ffffff; //White
$gray: #8c8c8c; //Gray

//
// Font-size
//
$h1: 4.444vw; // 64px
$h2: 3.333vw; // 48px
$h3: 2.778vw; // 40px
$h4: 2.222vw;; // 32px
$p: 1.667vw; // 24px
$overline: 20px;

//
// Margins
//
$m1: 0.833vw; // 12px
$m2: 1.111vw; // 16px
$m3: 1.667vw; // 24px
$m4: 2.222vw; // 32px
$m5: 2.917vw; // 42px
$m6: 4.444vw; // 64px

$column-width: calc(100vw / 12);

//
// Breakpoints
//
$breakpoints: (
  'phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px,
);