@import '../../variables.scss';
.app_container {
    
}

.status_container {

}

.locations_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: $column-width * 2;
    width: $column-width * 8;

    .location_group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: $column-width * 8;
        margin-bottom: $m5;
    }
}
