@import '../../variables.scss';
.app_container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.status_container {
    position: fixed;
    top: $m3;
    right: $column-width + $m2;
    background-color: $black;
    height: 40vh;
    width: 40vw;
    overflow-y: scroll;
    border: 2px solid $white;

    h4 {
        margin-bottom: $m1;
    }

    .status_log {
        margin-left: $m2;
    }

    .status {
        position: sticky;
        top: 0;
        background-color: $black;
        padding: $m2;
    }

    .status_notification {
        color: rgb(255, 0, 0);
    }
}

.rbn {
    position: fixed;
    width: $column-width - $m2;
    height: auto;
    right: $m2;
    top: $m2;
    cursor: pointer;
    transition: all 0.2s ease;
}

.rbn:hover {
    transform: scale(1.2, 1.2);
}

.notification_icon {
    position: fixed;
    top: calc($m1);
    right: calc($m4);
    color: rgb(255, 0, 0);
    z-index: 1;
}

.content_wrapper {
    margin-left: $column-width * 2;
    width: $column-width * 8;
    height: 100vh;
}

.locations_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

    .location_group {
        display: flex;
        flex-direction: row;
        width: $column-width * 10;
    }

    h3 {
        width: $column-width * 8;
        text-align: center;
        margin-bottom: $m5;
    }
}

.location_page_container {
    width: $column-width * 10;
}  
