@import '../../variables.scss';
.app_container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.status_container {
    position: fixed;
    top: 0;
    left: 0;
    width: $column-width * 2;
    height: 100vh;
    padding: $m2;
    border-right: 2px solid $black;

    h4 {
        margin-bottom: $m1;
    }
}

.content_wrapper {
    margin-left: $column-width * 3;
    width: $column-width * 10;
    height: 100vh;
}

.locations_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

    .location_group {
        display: flex;
        flex-direction: row;
        width: $column-width * 10;
    }

    h3 {
        width: $column-width * 8;
        text-align: center;
        margin-bottom: $m5;
    }
}

.location_page_container {
    width: $column-width * 10;
    height: 100vh;
    box-sizing: border-box;
    padding-top: $m5;
}


.back_button {
    text-align: center;
    margin-top: $m5;
    padding: $m2;
    border: 2px solid $black;
    color: $black;
    width: $column-width;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3 ease;
}

.back_button:hover {
    background-color: $black;
    color: $white;
}
