@import '../../variables.scss';

.outro_container {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;
}


.passage {
    position: absolute;
    top: $column-width;
    left: $column-width;
    width: $column-width * 10;
    p {
        margin-bottom: $m2;
    }
}

.passage_container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.continue {
    position: absolute;
    bottom: $m6;
    right: $column-width;
}

.back {
    position: absolute;
    bottom: $m6;
    left: $column-width;
}


.title_container {
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: row;
}

.title_image {
    width: auto;
    height: 110vh;
}

.title_info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: $column-width;
    margin-right: calc($column-width / 2);
    width: $column-width * 3;

    p {
        width: $column-width * 3;
        margin-bottom: $m3;
    }

    h1 {
        width: $column-width * 3;
        margin-bottom: $m3;
    }
}

.decision_container {
    display: flex;
    flex-direction: column;
    width: $column-width * 8;
    margin-left: $column-width * 2;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.decision_actions_container {
    display: flex;
    flex-direction: row;
    margin-top: $m5;

    .action {
        border: 2px solid $white;
        background-color: transparent;
        color: $white;
        width: $column-width * 2;
        padding: $m2;
        text-align: center;
        cursor: pointer;
        transition: all 0.3 ease;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: $m3;
      }
      
      .action:hover {
        background-color: $white;
        color: $black;
      }
}