@import '../../../../variables.scss';

.location_card_container {
    display: flex;
    flex-direction: column;
    padding: $m5;
    border: 2px solid $white;
    align-items: center;
    justify-content: center;
    width: $column-width * 2;
    cursor: pointer;
    color: $white;
    text-align: center;
    background-color: transparent;
    margin-right: $column-width;
    margin-bottom: $m5;
    transition: all 0.2s ease;
}

.location_card_container:hover {
    background-color: $white;
    color: $black;
}

.disabled {
    pointer-events: none;
    color: $white;
    background-color: #E5E5E5;
    border-color: #E5E5E5;
}